mat-sidenav {
    box-shadow: 1px 0px 2px 0px #ccc;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 250px;
}

badge{
    position: absolute;
    right:45px;
    top: 25px;
}

.badge-icon {
    font-size: x-large;
}

mat-divider{
    border-color: lightgray;
    margin: 0 10px;
}